body {
  background-color: rgb(231, 227, 233);
}
h1 {
  color: rgb(46, 46, 66);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
  text-decoration: underline;
  width: 100%;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  text-decoration: underline;
}

img {
  width: 400 px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  margin-left: 35%;
  margin-top: 4%;
}

.header {
  margin-top: 150px;
  text-align: center;
}

.Meron {
  float: left;
  text-align: center;
  color: rgb(0, 0, 7);
  border: 25px solid rgb(255, 255, 255);
}
h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
}
p {
  font-family: Snell Roundhand, cursive;
  font-size: 22px;
}

.work {
  font-size: 22px;
}

.list {
  font-size: 18px;
  color: black;
}

.projects {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 5%;
}
.space {
  margin-top: 150px;
}
